# Ignore Swiss Ephemeris data files
*.se1
*.se2
*.se3
*.se4
*.se5
*.se6
*.se7
*.se8
*.se9
*.sef
*.txt
*.asc
*.zip

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
env/

# Local DBs
*.db

# OS/Editor
.DS_Store
Thumbs.db
